.App {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: lightblue;
}

.page-title {
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(1, 24, 45);
}

.staff-on-duty {
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  color: rgb(0, 6, 13);
  background-color: aliceblue;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 1px solid rgb(1, 24, 45);
}

.staff-count {
  color: aliceblue;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: rgb(1, 24, 45);
}

.clearBtn {
  color: red;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 17px;
  border-top: none;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: rgb(255, 197, 197);
}

.clearBtn:hover {
  color: rgb(163, 4, 4);
  background-color: rgb(251, 120, 120);
}

.refreshBtn {
  color: purple;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 17px;
  border: none;
  background-color: rgb(225, 171, 225);
  transition: all 0.2s linear;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.refreshBtn:hover {
  color: rgb(85, 5, 85);
  background-color: rgb(227, 134, 227);
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 30px;
  }
  .staff-on-duty {
    width: 50%;
    padding: 10px;
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .App {
    width: 80%;
    padding: 30px;
  }

  .page-title {
    width: 300px;
  }
}
